<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Antoni Devlin's blog and portfolio website.">
    <title>DVLN – {{title}}</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    {% include "partials/header.html" %}
    <main tabindex="0">
      {% block content%}
      {% endblock %}
    </main>
    <footer>
    </footer>
  </body>
</html>
