---
pagination:
  data: collections.blogPosts
  size: 5
  alias: blogPosts
---

{% extends "layouts/base.html" %}
{% block content %}

{% for post in blogPosts %}
<section class="post-teaser">
  <img src="{{ post.data.hero.url }}" alt="{{ post.data.hero.alt }}">
  <a href="{{post.url}}">
    <h1>{{post.data.title}}</h1>
  </a>
  <p class="date">{{post.date|dateFilter}}</p>
  <p>{{post.data.content|safe|truncate(450)}}</p>
</section>
{% endfor %}

<section class="post-teaser">
<nav class="pagination-menu">
  <ul>
    {# <a href="{{ pagination.href.last }}">First</a> #}
    {% if pagination.href.previous %}<a href="{{pagination.href.previous}}">←</a>{% endif %}
    {% for pageEntry in pagination.pages %}
    <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url==pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{loop.index}}<li class="page-button"></li></a>
    {% endfor %}
    {# <a href="{{ pagination.href.last }}">Last</a> #}
    {% if pagination.href.next %}<a href="{{pagination.href.next}}">→</a>{% endif %}
  </ul>
</nav>
<section class="post-teaser">

{% endblock %}