{% extends "layouts/base.html" %}
{% block content %}
{% for post in collections.blogPosts | reverse %}
<section class="post-teaser">
  <img src="{{ post.data.hero.url }}" alt="{{ post.data.hero.alt }}">
  <a href="{{post.data.permalink}}"><h1>{{post.data.title}}</h1></a>
  {# TODO: Dynamic excerpt #}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
  <p class="date">{{post.date|dateFilter}}</p>
</section>
{% endfor %}
{% endblock %}
