{% extends "layouts/base.html" %}
{% block content %}
      <section class="post">
        {% if hero.url %}
        <img src="{{ hero.url }}" alt="{{ hero.alt }}">
        {% if hero.caption  %}
        <figcaption>{{ hero.caption }} ({{hero.source}})</figcaption>
        {% endif  %}
        {% endif %}
        <h1>{{title}}</h1>
        <p class="date">{{ page.date | dateFilter }}</p>

          {{ content | safe }}
{% if tags %}
<span class="tags">
  <ul>
    {% for tag in tags %}
    <li><a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '')}}</a></li>
    {% endfor %}
  </ul>
</span>
{% endif %}
      </section>
{% endblock %}
