<header>
  <nav class="main-menu">
    <ul>
      {% for item in navigation.items %}
      <li><a href="{{item.url}}">{{item.text}}</a></li>
      {% endfor %}
      {% if config.isLive == true  %}
      <li><a href="http://youtube.com/channel/UCRMiolxOG29u8G8Nzv1J22A/live">Live</a></li>
      {% endif  %}
    </ul>
    {% if '/blog/' in page.url %}
    <script src="/scripts/scrollbar.js"></script>
    <div class="progress-container">
      <div class="progress-bar" id="prog-bar"></div>
    </div>
    {% endif %}
  </nav>
</header>